<header class="header">
	<div class="header__container container">
		<a href="/" class="header__logo">Book</a>

		<ul class="header__actions list-reset">
			<!-- <li>
				<button class="icon-btn btn-reset">
					<svg data-icon="search" class="icon-btn__icon">
						<use href="./assets/img/svg/sprite.svg#search"></use>
					</svg>
				</button>
			</li> -->
			<li>
				<button class="icon-btn btn-reset">
					<svg data-icon="heart" class="icon-btn__icon">
						<use href="./assets/img/svg/sprite.svg#heart"></use>
					</svg>
					<div class="icon-btn__count">0</div>
				</button>
			</li>
			<li>
				<button class="icon-btn btn-reset">
					<svg data-icon="cart" class="icon-btn__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
					<div class="icon-btn__count">0</div>
				</button>
			</li>
		</ul>
	</div>
</header>
